<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam maxime qui nemo cum, nihil quae perferendis. Culpa
    vel, cupiditate eos illum, impedit voluptatem repudiandae beatae, debitis soluta nisi quasi laborum perspiciatis
    minus doloribus. Voluptatibus quidem culpa aliquid consectetur quas rem minus, expedita fugiat dolorum, quo,
    corporis esse similique debitis delectus cumque error cum assumenda veniam modi! Error neque molestias quo enim
    aliquam, perspiciatis laboriosam qui, quasi modi ea amet veniam non culpa adipisci sequi hic distinctio
    necessitatibus aspernatur perferendis architecto exercitationem! Odio velit dolorum similique, ea dolore in beatae
    perspiciatis debitis molestiae minima iure, laudantium voluptatibus harum commodi fugit porro.</p>
</body>

</html>